<!DOCTYPE >
<html>

<head>
    <title>front</title>
    <link rel="stylesheet" type="text/css" href="frontcss.css">
    <script src="frontjs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        {{message}}
    </div>
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <div id="app9">
        {{name}}
        <ul>
            <li v-for="iten in list">{{iten}}

            </li>
        </ul>

    </div>
















    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue !'
            }
        })
        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue !'
            }
        })
        new Vue({
            el: '#app9',
            data: {
                name: 'gggg',
                list: ['apple', 'orange', 'lemon']
            }
        })
    </script>
</body>

</html>