#head {
    top: 0%;
    left: 0%;
    z-index: 1;
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
    height: 40px;
    width: 100%;
    background-color: gray;
}

#side {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 250px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    top: 40px;
    left: 0%;
    min-height: 100vh;
    background-color: gray;
}